#rk{
    color:white ;
    font-size: 30px;
    padding-left: 16px;


}
body{
    /* font-family:'Roboto' 'Fira Sans'; */
    font-family: 'Roboto', sans-serif;
}
.navbar-brand{}
#logo{
    color: white;
    padding-right: 10px;
}
   
#menu li a{
    color:white;
    font-size: medium;
}
#menu li a:hover{
    background-color: darkgreen;
}
.container{
     /* width: 1000px;  */
}
@media screen and (max-width:576px) {
#rk a{
    padding-left: 20px;
}
    
}
#footer-bar{
    background-color:rgba(3, 1, 1, 0.582);
    color: lightgray;
    font-size: small;
    /* padding: 20px; */
}
#contact-developer{
    font-size: small;
    text-decoration: none;
    color: lightgray;
}
.col-md-2{
    /* background-color: aqua; */
    /* border: 1px solid grey; */
    /* margin: 0px 2px; */
    /* box-shadow: 1px 1px 5px 1px grey; */
}
#services{
    text-align: center;
    /* font-size: large; */

}
.col-4 h1{
    font-size: 32px;
}
@media screen and (max-width:576) {
    #banner-lab{
        background-color: blue;
    }
    
}
.banner-lab{
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 0px;
}
.sub-heading{
    margin-top:-5px;
    font-size: smaller;
}
.show-more-p a{
    text-decoration: none;
    color:black;
}
#Services-row-2{
    /* background-image: url('../Images/carousel1.jpg'); */
}
.row.col-md-6{
    border: 2px solid red;
}
.g-map{
    /* width: 50rem;
    height: 50rem; */
    width: 22rem;
    height: 20rem;
}
@media screen and (min-width:768px) {
  .g-map{
      width: 35rem;
      height: 25rem;
  }
}
.address{
    font-size: small;
}